.App{
  display: flex;
  flex-direction: column;
  background-color: #2f74c0;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.heading{
  font-size:40px;
  margin:30px 0;
  color:white;
  text-align: center;
}